.container {
    margin-top: 36px;
    background: #FAFAFA;
    border: 2px solid #EEEEEE;
    border-radius: 10px;
    padding: 20px 23px 11px 43px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.experienceItem_img {
    width: 110px;
    height: 110px;
}

.cont {
    flex: 1 1;
}

.tit_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 6px;
}

.title_name {
    font-family: Poppins;
    font-size: 20px;
    color: #707070;
}

.edit_cont {
    display: flex;
    align-items: center;
}

.edit_text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: rgba(30, 57, 76, 0.5);
}

.edit_img {
    width: 12px;
    height: 12px;
    margin-left: 8px;
}

.des_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 11px;
    border-bottom: 0.5px solid #AAAAAA;
    gap: 6px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.des_text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    color: #808080;
}

.date_text {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #AAAAAA;
}

.ul {
    margin-top: 8px;
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;
    color: #707070;
}

.more {
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;
    color: #66C1FF;
}

.img_wrap {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .cont {
        display: flex;
        flex-direction: column;
        gap: 6px;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 600px) {
    .img_wrap {
            width: 100%;
        }
}

@media only screen and (max-width: 425px) {
    .container {
        padding:20px 23px 11px 30px;
    }
    .title_name {
        font-size: 18px;
    }
    .des_text {
        font-size: 15px;
    }
    .date_text {
        font-size: 15px;
    }
    .ul {
        font-size: 14px;
    }
}