.container {
    padding-left: 36px;
    padding-top: 30px;
    padding-right: 47px;
}

.header__min_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.title_cont {
    display: flex;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 24px;
    align-items: center;
    color: #353C44;
}

.down_img {
    width: 16px;
    margin-left: 12px;
}

.btn {
    padding-left: 82px;
}

.des_cont {
    display: flex;
    align-items: center;
}

.min_title {
    ont-size: 14px;
    line-height: 21px;
    color: rgba(30, 57, 76, 0.5);
}

.edit_img {
    width: 12px;
    margin-left: 9px;
}

.body_cont {
    margin-top: 21px;
}

.titles_cont {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.titles_min_cont {
    width: 33%;
}

.titles {
    font-size: 24px;
    color: #353C44;

}

.header_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body_wrap {}

@media only screen and (max-width: 768px) {
    .body_wrap {
        max-width: 668px;
    }

    .body_cont {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        flex-direction: column;
    }

    .body_cont>div {
        width: 900px;
        overflow-x: scroll;
    }
}
@media only screen and (max-width: 600px) {
    .body_wrap {
        max-width: 490px;
    }
}
@media only screen and (max-width: 475px) {
    .body_wrap {
        max-width: 360px;
    }
}
@media only screen and (max-width: 425px) {
    .body_wrap {
        max-width: 320px;
    }
}