.container {
    background: #FFFFFF;
    border-radius: 25px;
    width: 840px;
    height: 725px;
    padding-left: 90px;
}

.close_cont {
    display: flex;
    justify-content: flex-end;
}

.close_img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.close_cont path {
    transition: all 0.3s linear;
}

.close_img:hover path {
    fill: #f50000;
}
.title {
    font-size: 30px;
    line-height: 45px;
    color: #1E394C;
}

.search_title {
    margin-top: 69px;
    font-size: 24px;
    color: #1E394C;
    margin-bottom: 20px;
}

.search_img {
    width: 20px;
    height: 20px;
}

.input_cont {
    padding-left: 21px;
    width: 546px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #F2F2F2;
    height: 45px;
    border-radius: 10px;
}

.skiles_cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skile_item_cont {
    margin-top: 15px;
    margin-right: 15px;
    background-color: #E5F3FC;
    border-radius: 10px;
    height: 39px;
    padding: 7px 29px;
}

.skile {
    font-size: 16px;
    line-height: 24px;
    color: #1E394C;
}
