.container {
    padding-left: 44px;
    padding-right: 44px;
}

.title_cont {
    display: flex;
    align-items: center;
}

.btn {
    color: #66C1FF;
    font-size: 16px;
    margin-top: 45px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
}

.cont {
    margin-top: 50px;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icon_cont {
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 22px;
    height: 22px;
}

.cont_items {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    flex-wrap: wrap;
}

.one_item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus_div_left {
    width: 15px;
    height: 15px;
    border: 1px solid #66C1FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.plus_div_right {
    /* position: absolute;
    right: 300px; */
    width: 15px;
    height: 15px;
    border: 1px solid #66C1FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.plus_img {
    width: 15px;
    height: 15px;
}

.items_two_line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 88px;
}

.plus {
    margin-top: 10px;
}

.plus_div {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .items_two_line {
        justify-content: center;
    }

}

@media only screen and (max-width: 425px) {
    .container {
        padding: 0;
    }
    .title_cont {
        padding: 0 30px;
    }

}