.continer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 35px;
    border-bottom: 2px solid #E9E9E9;
}
.cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_img{
    margin-top: 5px;
    height: 37px;

}
.icons_cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    margin-left: 20px;
    font-size: 32px;
    color: #353C44;
    font-weight: 600;
}
.header_icons{
    margin-right: 52px;
    height: 42px;
}
