.container {
    background: #FFFFFF;
    border-radius: 25px;
    padding-left: 109px;
}

.close_cont {
    display: flex;
    justify-content: flex-end;
}

.close_img {
    width: 25px;
    height: 25px;

    cursor: pointer;

}

.close_cont path {
    transition: all 0.3s linear;
}

.close_img:hover path {
    fill: #f50000;
}

.title {
    font-size: 30px;
    line-height: 45px;
    color: #1E394C;
}

.form_cont {
    padding-right: 140px;
    margin-top: 69px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.title_input_cont {
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.title_input {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    color: #1E394C;
}

.description_text {
    margin-top: 69px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    color: #1E394C;
}

.textAr {
    margin-top: 35px;
    width: 588px;
    height: 135px;
    left: 574px;
    top: 535px;
    border: 0.3px solid #1E394C;
    border-radius: 7px;
    padding-top: 7px;
    padding-left: 11px;
}

.btn_cont {
    margin-top: 70px;
}

.custom_modal_style {
    inset: 50% auto auto 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 846px;
    width: 100%;
    position: absolute;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.btn_cont {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.btn_cont>button {
    padding: 7px 50px;
}

.btn_cont>button:last-child {
    background-color: #fff;
    color: #1E394C;
    border-width: 1px;
    border-color: #1E394C;

}

@media only screen and (max-width:900px) {
    .custom_modal_style {
        max-width: 640px;
    }

    .form_cont {
        max-width: 613px;
        width: 100%;
        padding-right: 0;
        margin-top: 0;
    }

    .container {
        padding-left: 20px;
    }

}

@media only screen and (max-width:640px) {
    .custom_modal_style {
        max-width: 400px;
        height: 500px;
    }

    .textAr {
        width: 100%;
    }

    .btn_cont {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .btn_cont>button {
        padding: 7px;
        max-width: 200px;
        width: 100%;
    }


}

@media only screen and (max-width:425px) {
    .custom_modal_style {
        max-width: 320px;
    }

    .container {
        padding-left: 0px;
    }

}