.container {
    padding-left: 44px;
    padding-right: 44px;
}

.cont {
    margin-top: 50px;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont_items {
    margin-top: 80px;
}

.items_two_line {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 88px;

}
@media only screen and (max-width:425px) {
    
}